/* -----fonts----- */


h1 {
    font-family: "Bagel Fat One", system-ui;
    font-size: 6rem;
    font-weight: 400;
    font-style: normal;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#h1_2{
    color: #5AA9E6;
}

#h1_0{
    color: #F9F9F9;
}

#h1_4{
    color: #FFE45E;
}

#h1_8{
    color: #FF6392;
}

h2, p, a {
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-style: normal;
      }

h2 {
    font-weight: 500;
}

a {
    text-decoration: none; 
}
 
/* -----components----- */

body {
    max-width: 80%;
    margin: 3rem auto;
    justify-items: center;
    background-color: #dee8f7;
}

.contents-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

section {
    width: 30rem;
    background-color: #ffffff;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(192, 192, 192);

}

.article-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.game_board {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_board img{
    border-radius: 10px;
}

.game_board a:hover{
    transform: scale(1.2);
}

footer {
    margin-top: 10rem;
}


/* elements */

h1, h2{
    text-align: center;
}

p {
    line-height: 1.6rem;
}
